Volveremos a crear esa misma BBDD, pero esta vez desde Python.

游늷 NOTA Utilizad el nombre de la BBDD de mi_primerita_BBDD_Python

游늷 NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de c칩digo una y otra vez. Para evitar esto, crearos una funci칩n que nos sirva para crear tablas independientemente del contenido de la tabla. La funci칩n recibir치 como par치metros:

-Contrase침a de la conexi칩n al servidor.

-Query para crear la tabla.

In [18]:
import mysql.connector

In [19]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              auth_plugin='mysql_native_password')

mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

In [1]:
def crear_tablas(contrasena, query):

    """La funcion permite crear tablas en sql inrtoduciendo contrase침a y una query predefinida.
    Antes es necesario crear una BBDD, en este caso "mi_primerita_BBDD_Python"
    """

    import mysql.connector

    cnx = mysql.connector.connect(user='root', password= contrasena,
                                host='127.0.0.1', database='mi_primerita_BBDD_Python',
                                auth_plugin='mysql_native_password')


    mycursor = cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [21]:
contrasena = 'AlumnaAdalab'

In [22]:
crear_tabla_zapatillas = '''CREATE TABLE Zapatillas (
	idZapatilla INT NOT NULL AUTO_INCREMENT,
    Modelo VARCHAR(45) NOT NULL,
    Color VARCHAR(45) NOT NULL,
    Talla INT NOT NULL,
    PRIMARY KEY (idZapatilla))'''

In [23]:
tabla_clientes = '''CREATE TABLE Clientes (
	idCliente INT NOT NULL AUTO_INCREMENT,
    Nombre VARCHAR(45) NOT NULL,
    Numero_telefono INT(9) NOT NULL,
    Email VARCHAR(45) NOT NULL,
    Direccion VARCHAR(45) NOT NULL,
    Ciudad VARCHAR(45),
    Provincia VARCHAR(45) NOT NULL,
    Pais VARCHAR (45) NOT NULL,
    Codigo_postal INT(9) NOT NULL,
    PRIMARY KEY (idCliente))'''

In [24]:
tabla_empleados = '''CREATE TABLE Empleados (
	idEmpleado INT NOT NULL AUTO_INCREMENT,
    Nombre VARCHAR(45) NOT NULL,
    Tienda VARCHAR (45) NOT NULL,
    salario FLOAT,
    fecha_incorporacion DATE NOT NULL,
    PRIMARY KEY (idEmpleado))'''

游늷 NOTA En esta 칰ltima tabla tendremos que incluir todos los CONSTRAINTnecesarios para establecer los relaciones entre las tablas, donde tendremos que especificar:

-Foreign Key

-References

In [30]:
tabla_facturas = '''CREATE TABLE Facturas (
	idFactura INT NOT NULL AUTO_INCREMENT,
    idEmpleado INT NOT NULL,
    idCliente INT NOT NULL,
    idZapatilla INT NOT NULL,
    Fecha DATE NOT NULL,
    Total FLOAT NOT NULL,
    PRIMARY KEY (idFactura),
    CONSTRAINT `fk_facturas_clientes`
		FOREIGN KEY (idCliente)
        REFERENCES Clientes (idCliente) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT `fk_facturas_zapatilla`
		FOREIGN KEY (idZapatilla)
        REFERENCES Zapatillas (idZapatilla) ON DELETE CASCADE ON UPDATE CASCADE,
	CONSTRAINT `fk_factura_empleado`
		FOREIGN KEY (idEmpleado)
        REFERENCES Empleados (idEmpleado) ON DELETE CASCADE ON UPDATE CASCADE)'''

In [26]:
#Creamos la tabla "zapatillas"
crear_tablas(contrasena, crear_tabla_zapatillas)

MySQLCursor: CREATE TABLE Zapatillas (
	idZapatilla I..

In [27]:
#Creamos la tabla "clientes"
crear_tablas(contrasena, tabla_clientes)

MySQLCursor: CREATE TABLE Clientes (
	idCliente INT N..

In [28]:
#Creamos la tabla "empleados"
crear_tablas(contrasena, tabla_empleados)

MySQLCursor: CREATE TABLE Empleados (
	idEmpleado INT..

In [31]:
#Creamos la tabla "facturas"
crear_tablas(contrasena, tabla_facturas)

MySQLCursor: CREATE TABLE Facturas (
	idFactura INT N..